<div id="{{pvTemplate.id}}" >

  <div class="panel-heading ">
    <div class="col md-3">
      <label >{{pvTemplate.circonscriptionName}}</label>


    </div>
    <div class="col md-3" style="text-align: center;direction: ltr;">
      <h3>{{pvTemplate.circonscriptionId}} - {{pvTemplate.delegationId}} - {{pvTemplate.subDelegationId}} - {{pvTemplate.centerID}} - {{pvTemplate.stationId}}</h3>
      <h4>{{pvTemplate.PollingCenterName}}</h4>


    </div>
  </div>
  <div class='election' ng-if="pvTemplate">
    <form novalidate name="prep">
      <div class="">
        <div class="row">
          <div class="col-md-12 arabic">يوجد ختم الهيئة؟ <input type="checkbox" ng-model="pvTemplate.tampon"> <br/> </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12 arabic">      <div>عدد الناخبين  المرسمين بمكتب الاقتراع  <input ng-model='pvTemplate.registeredVoters'  type='number'  ng-pattern="/^[0-9]{1,7}$/" required/></div>
        </div>
        <div class="col-md-12 arabic">      <div>أ- عدد الناخبين الذين امضوا في قائمة الناخبين  <input ng-model='pvTemplate.aSigningVoters'  type='number'  ng-pattern="/^[0-9]{1,7}$/" required/></div>
      </div>
      <div class="col-md-12 arabic">      <div>ب- عدد أوراق التصويت المسلمة لمكتب الاقتراع  <input ng-model='pvTemplate.bDeliveredBallots'  type='number'  ng-pattern="/^[0-9]{1,7}$/" required/></div>
    </div>
    <div class="col-md-12 arabic">      <div>ج- عدد أوراق التصويت التالفة  <input ng-model='pvTemplate.cSpoiledBallots' type='number'   ng-pattern="/^[0-9]{1,7}$/" required/></div>
  </div>
  <div class="col-md-12 arabic">      <div>د- عدد أوراق التصويت الباقية  <input ng-model='pvTemplate.dLeftBallots' type='number'   ng-pattern="/^[0-9]{1,7}$/" required/></div>
</div>

</div>
<hr>
<div class="row">
  <div class="col-md-12 arabic">       <div>ه- عدد أوراق التصويت التالفة +  عدد أوراق التصويت الباقية  <input ng-model='pvTemplate.eCplusD'  type='number'  ng-pattern="/^[0-9]{1,7}$/" required/></div>
</div>
<div class="col-md-12 arabic">       <div>و- عدد أوراق التصويت المستخرجة من الصندوق  <input ng-model='pvTemplate.fExtractedBallots'  type='number'  ng-pattern="/^[0-9]{1,7}$/" required/></div>
</div>
<div class="col-md-12 arabic">       <div>ز=ه+و  <input ng-model='pvTemplate.gEplusF' type='number'  ng-pattern="/^[0-9]{1,7}$/"  required/></div>
</div>
<div class="col-md-12 arabic">       <div>ح- المطابقة 1 : الفارق العددي بين ب و- ز   <input ng-model='pvTemplate.hBminusG' type='number'   ng-pattern="/^[0-9]{1,7}$/" required/></div>
</div>
<div class="col-md-12 arabic">       <div>ط- المطابقة 2 : الفارق العددي بين أ و و  <input ng-model='pvTemplate.iAminusF' type='number'   ng-pattern="/^[0-9]{1,7}$/" required/></div>
</div>
</div>
<hr>
<div class="row arabic">
  <div class="col-md-12">      <div>أسباب عدم التطابق في ح إن وجد  <input ng-model='pvTemplate.hReasons' type='text'  style="width: 100%;"/></div>
</div>
</div>
<div class="row arabic">
  <div class="col-md-12">      <div>أسباب عدم التطابق في ط إن وجد  <input ng-model='pvTemplate.iReasons'   style="width: 100%;" type='text'/></div>
</div>


</div>

</div>
<div class="row arabic">

  <div class="row">
    <div class="col-md-12 arabic">      <div>ي- الأصوات المصرح بها لكل القائمات  <input ng-model='pvTemplate.jListVotes'  type='number'  ng-pattern="/^[0-9]{1,7}$/" required/></div>
  </div>
  <div class="col-md-12 arabic ">      <div>ك- عدد أوراق التصويت الملغاة  <input  ng-model='pvTemplate.kCancelledVotes' type='number'  ng-pattern="/^[0-9]{1,7}$/" required/></div>
</div>

<div class="col-md-12 arabic">      <div>ل- عدد أوراق التصويت البيضاء  <input ng-model='pvTemplate.lBlankVotes'  type='number'  ng-pattern="/^[0-9]{1,7}$/" required/></div>
</div>

<div class="col-md-12 arabic">      <div>م) المجموع = ي+ ك+ ل  <input ng-model='pvTemplate.mJplusKplusL'  type='number'  ng-pattern="/^[0-9]{1,7}$/" required/></div>
</div>

<div class="col-md-12 arabic">      <div>ن- المطابقة 3 : الفارق العددي بين و و م   <input ng-model='pvTemplate.nFminusM'  type='number'  ng-pattern="/^[0-9]{1,7}$/" required/></div>
</div>

</div>
<hr>
<div class="row">  <div class="col-md-8 right"> أسباب عدم التطابق في ن إن وجد    <input ng-model='pvTemplate.nReasons'   type='text'/  style="width: 100%;"></div>
<div class="col-md-12 arabic">      <div>توقيت بداية الفرز  <input ng-model='pvTemplate.countingStart'   type='text'/></div>
</div>
<div class="col-md-12 arabic">      <div>توقيت ختم الفرز  <input ng-model='pvTemplate.countingEnd'   type='text'/></div>
</div>

</div>
<hr>
<h3><a ng-click="getDetails(pvTemplate.id,$index,sectionIndex)" style="cursor: pointer;"> القائمات</a></h3>
<h6>{{pvTemplate.listcount}}</h6>
<ul class="lists">
  <li ng-repeat="list in pvTemplate.lists" class="list">
    <div class="row">

      <div class="right"><label class="med-label">{{list.candidateName}}</label></div>
      <div class="right"><input ng-model='list.votesCount' type='number'   ng-pattern="/^[0-9]{1,7}$/" required/></div>
    </div>
  </li>
</ul>
<hr>

<input type='submit' ng-click='savePv(pvTemplate)' ng-disabled="isSaving"/>
</div>
</form>

</div>
</div>
