.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.arabic {
  float:right;
}
.row{
  margin-top:20px;
  direction:rtl;
  margin-left:0 !important;
  margin-right:0 !important;
}
.arabic input[type="submit"] {
  margin-top:15px;
}
.ng-invalid {
  border-color:#DB142B;
  border-width: 1px;
  border-style: solid;
}
.ng-valid {
  border-color:#14DB62;
  border-width: 1px;
  border-style: solid;
}
.input-form{
  overflow: hidden;
  padding: 20px;
}
ul.lists {
  list-style-type: none;
}
.right {
  float: right;
  margin-left: 15px;
}
