<div class="box-login">
    <h3>Connexion</h3>
    <p>
      Veuillez entrer votre email et mot de passe pour vous connecter
    </p>
    <form class="form-login" name="loginForm" novalidate>

      <fieldset>
        <div class="form-group">
          <span class="input-icon">
          <input type="text" class="form-control" name="email" placeholder="Email" data-ng-model="credentials.email" required>
          <i class="fa fa-user"></i> </span>
        </div>
        <div class="form-group form-actions">
          <span class="input-icon">
          <input type="password" class="form-control password" name="password" placeholder="Mot de passe " data-ng-model="credentials.password" required>
          <i class="fa fa-lock"></i>
           </span>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary pull-right"  data-ng-click="login()" >
          Se connecter <i class="fa fa-arrow-circle-right"></i>
          </button>
        </div>
        <div class="new-account">
          Nouveau?
          <a  ui-sref='signup' class="signup">
          Créer un compte
          </a>
        </div>
      </fieldset>
    </form>
  </div>
