<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/home">
        <span class="glyphicon glyphicon-home"></span> ELPV
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a ui-sref="home" ui-sref-active="active">Home</a></li>
        <li><a ui-sref="newpv" ui-sref-active="active">Legislatives-Ajout</a></li>
        <li><a ui-sref="updatel" ui-sref-active="active">Legislatives-Mise a jour</a></li>
        <li><a ui-sref="pres" ui-sref-active="active">Presidentielles</a></li>
        <li><a ui-sref="updatep" ui-sref-active="active">Presidentielles-Mise a jour</a></li>
        <li><a ui-sref="review" ui-sref-active="active">Review Presidentielles</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="login" ui-sref-active="active">Login</a></li>
       </ul>
    </div>
  </div>
</nav>
